# Classificando se uma pessoa é homem ou mulher apenas pelo peso e altura

Obs: Nenhum desses experimentos servirão para definir nem julgar ninguém. É apenas uma forma de demonstrar uma informação generalista. Por favor, não sinta-se ofendido(a).

#### Dicionário de dados:
Gender -> Gênero<br>
Height -> Altura<br>
Weight -> Peso

In [1]:
# Importando as bibliotecas necessárias

import pandas as pd
import seaborn as sns

In [2]:
# Carregando base de dados e armazenando dentro de uma variável e visualizando as 10 primeiras linhas

df = pd.read_csv(r"C:\Users\jroque\Desktop\Outros\datasets-estudo\weight-height.csv")

df.head(10)

  Gender     Height      Weight
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801
5   Male  67.253016  152.212156
6   Male  68.785081  183.927889
7   Male  68.348516  167.971110
8   Male  67.018950  175.929440
9   Male  63.456494  156.399676

In [3]:
# Verificando informações da coluna

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Gender  10000 non-null  object
 1   Height  10000 non-null  float64
 2   Weight  10000 non-null  float64
dtypes: float64(2), object(1)
memory usage: 234.5+ KB

In [4]:
# Convertendo a medida de feet para metros e criando uma nova coluna

df['altura'] = df['Height'] * 0.0254

In [5]:
# Visualizando a nova coluna no formato correto

df.head(10)

  Gender     Height      Weight    altura
0   Male  73.847017  241.893563  1.875714
1   Male  68.781904  162.310473  1.747060
2   Male  74.110105  212.740856  1.882397
3   Male  71.730978  220.042470  1.821967
4   Male  69.881796  206.349801  1.774998
5   Male  67.253016  152.212156  1.708227
6   Male  68.785081  183.927889  1.747141
7   Male  68.348516  167.971110  1.736052
8   Male  67.018950  175.929440  1.702281
9   Male  63.456494  156.399676  1.611795

In [6]:
# Convertendo weight (pounds e ounces) para Kg

df['peso'] = df['Weight'] * 0.45359237

In [7]:
df.head(10)

  Gender     Height      Weight    altura        peso
0   Male  73.847017  241.893563  1.875714  109.721075
1   Male  68.781904  162.310473  1.747060   73.622792
2   Male  74.110105  212.740856  1.882397   96.497629
3   Male  71.730978  220.042470  1.821967   99.809586
4   Male  69.881796  206.349801  1.774998   93.598695
5   Male  67.253016  152.212156  1.708227   69.042272
6   Male  68.785081  183.927889  1.747141   83.428287
7   Male  68.348516  167.971110  1.736052   76.190414
8   Male  67.018950  175.929440  1.702281   79.800252
9   Male  63.456494  156.399676  1.611795   70.941700

In [8]:
# Agora não precisamos mais das colunas Height e Weight, vamos eliminá-las

df.drop(labels= ['Height', 'Weight'], axis= 1, inplace=True)

In [9]:
# Substituindo os nomes em inglês para português

df['Gender'] = df.Gender.map({'Male': 'Masculino', 'Female': 'Feminino'})

In [10]:
# Traduzindo o nome das colunas do dataframe

df.columns= ['genero', 'altura', 'peso']

In [11]:
# Arredondando os valores da altura e peso para 2 casas decimais

df[['altura', 'peso']] = df[['altura', 'peso']].round(2)

In [12]:
# Verificando o dataset

df.head(10)

      genero  altura    peso
0  Masculino    1.88  109.72
1  Masculino    1.75   73.62
2  Masculino    1.88   96.50
3  Masculino    1.82   99.81
4  Masculino    1.77   93.60
5  Masculino    1.71   69.04
6  Masculino    1.75   83.43
7  Masculino    1.74   76.19
8  Masculino    1.70   79.80
9  Masculino    1.61   70.94

In [13]:
# Vamos ver se existem homens acima dos 1.90m. Caso sim, vamos visualizar as 10 maiores alturas

df[(df.altura > 1.80) & (df.genero == 'Masculino')].sort_values(by= 'altura' ,ascending=False).head(10)

         genero  altura    peso
2014  Masculino    2.01  122.47
3757  Masculino    2.00  111.46
3285  Masculino    1.99  115.16
1317  Masculino    1.99  103.12
994   Masculino    1.98  115.98
4569  Masculino    1.97  109.79
2070  Masculino    1.97  114.56
1922  Masculino    1.97  105.53
4297  Masculino    1.96  109.07
3669  Masculino    1.96  114.04

In [14]:
# Agora vamos ver a mesma situação, mas com o gênero feminino

df[(df.altura > 1.80) & (df.genero == 'Feminino')].sort_values(by= 'altura' ,ascending=False).head(10)

        genero  altura   peso
7311  Feminino    1.86  86.22
7162  Feminino    1.84  80.73
7856  Feminino    1.84  85.47
5103  Feminino    1.83  80.45
8635  Feminino    1.83  87.33
8135  Feminino    1.82  84.21
6116  Feminino    1.81  79.39
7924  Feminino    1.81  73.62
8464  Feminino    1.81  82.59
9424  Feminino    1.81  79.85

### Notoriamente os homens têm uma estrutura corporal maior do que a das mulheres. Mas isso não é algo recente, já é um fato comprovado pela ciência.

Vamos agora construir nossa máquina preditiva usando apenas essas duas características do nosso dataset: altura e peso

In [15]:
# Vamos importar nossas bibliotecas de classificação
# Usaremos a lib pycaret para ganharmos tempo na construção do modelo

from pycaret.classification import *

In [16]:
# Iniciando o enviroment

experimento01 = setup(data = df, target = 'genero')

In [17]:
# Vamos ver qual modelo se sai melhor

best = compare_models()

In [19]:
# O algoritmo Quadratic Discriminant Analysis se saiu melhor. Usaremos ele para construir nosso modelo.

qda_model = create_model('qda')

In [20]:
# Agora vamos avaliar a performance do nosso modelo

evaluate_model(qda_model)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Hyperparameters', 'param…

In [21]:
# Agora vamos testar nosso modelo com os dados de teste que o pycaret separou anteriormente

predict_model(qda_model)

      altura       peso     genero      Label   Score
0       1.82  87.709999  Masculino  Masculino  0.9794
1       1.76  84.510002  Masculino  Masculino  0.9703
2       1.70  82.370003   Feminino  Masculino  0.9747
3       1.74  82.019997  Masculino  Masculino  0.9414
4       1.84  85.809998  Masculino  Masculino  0.9404
...      ...        ...        ...        ...     ...
2996    1.72  75.419998  Masculino  Masculino  0.5789
2997    1.65  64.949997   Feminino   Feminino  0.9467
2998    1.55  50.500000   Feminino   Feminino  0.9992
2999    1.63  60.040001   Feminino   Feminino  0.9902
3000    1.57  60.220001   Feminino   Feminino  0.9643

[3001 rows x 5 columns]

In [22]:
# Com o nosso modelo criado, vamos salvá-lo para criar nosso data app no streamlit

save_model(qda_model, model_name = 'qda_model')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=None,
          steps=[('dtypes',
                  DataTypes_Auto_infer(categorical_features=[],
                                       display_types=True, features_todrop=[],
                                       id_columns=[],
                                       ml_usecase='classification',
                                       numerical_features=[], target='genero',
                                       time_features=[])),
                 ('imputer',
                  Simple_Imputer(categorical_strategy='not_available',
                                 fill_value_categorical=None,
                                 fill_value_numerical=None,
                                 numeric_strat...
                 ('cluster_all', 'passthrough'),
                 ('dummy', Dummify(target='genero')),
                 ('fix_perfect', Remove_100(target='genero')),
                 ('clean_names', Clean_Colum_Names()),
                 ('feature_select', 'passthrough'), ('fix_multi', 'passthrough'),
                 ('dfs', 'passthrough'), ('pca', 'passthrough'),
                 ['trained_model',
                  QuadraticDiscriminantAnalysis(priors=None, reg_param=0.0,
                                                store_covariance=False,
                                                tol=0.0001)]],
          verbose=False),
 'qda_model.pkl')